[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "pytorch"

[packages]
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
torchaudio = {version = "*", index = "pytorch"}
segmentation-models-pytorch = "*"
six = "*"
opencv-python = "*"
sortedcontainers = "*"
label-studio-sdk = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
